<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blog{% endblock %}</title>      <!-- 자신을 받는 html의 title은 다르게 표현해주기 위함 -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
<!--    구글 이미지-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
{% include 'basecamp/navbar.html' %}


<!--추가해주기!!-->
{% load socialaccount %}

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Please Log in</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class = 'row'>
                    <div class="col-md-6">
                        <a role = 'button' class="btn btn-outline-primary" href="{% provider_login_url 'google'%}"><i class="fab fa-google"></i> Log in with Google</a>
                        <a role = 'button' class="btn btn-outline-info" href="/accounts/login/"><i class="far fa-envelope"></i> Log in with Email</a>

                    </div>
                    <div class="col-md-6">
                        <a role = 'button' class="btn btn-outline-info" href="/accounts/signup/"><i class="far fa-envelope"></i> Sign Up with Email</a>

                    </div>
                </div>
<!-- 구글 이미지-->
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div class = "container">   <!-- 웹 내용을 안쪽으로 이동시키기 위함 -->

<!--    <div class="row">           &lt;!&ndash; 부트스트랩 docs의 layput grid에서 확인 가능!! &ndash;&gt;-->
<!--        <div class="col-sm-6 col-md-8 bg-info">    &lt;!&ndash; 구역별로 색을 나눠서 파악하기 위함 &ndash;&gt;-->
<!--            <h3>One of three columns</h3>-->
<!--        </div>-->
<!--        <div class="col-sm col-md-3 bg-light">      &lt;!&ndash;윈도우의 크기가 sm 기준에 충족하다면 6: 3: 3 일 것이고, md 이면 8 : 3: 1 로 구성됨 &ndash;&gt;-->
<!--            <h3>One of three columns</h3>-->
<!--        </div>                                      &lt;!&ndash; 현재 상황으로는, 8:3:1에서 윈도우 크기를 점차 줄이다가 sm 기준이 되면, 6:3:3 이 된다! &ndash;&gt;-->
<!--        <div class="col-sm col-md-1 bg-danger">-->
<!--            <h3>One of three columns</h3>-->
<!--        </div>-->
<!--    </div>-->
<div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8" id="main-div">
          {% block content %}
          {% endblock %}
      </div>
<!--바뀌어야 하는 부분을 없애버리기!!!-->
<!--          {% if object_list.exists %}       &lt;!&ndash; 그냥 if object_list 만 해도 되지만, 동작 속도가 느림.. &ndash;&gt;-->
<!--              {% for p in object_list %}-->
<!--              &lt;!&ndash; Blog Post &ndash;&gt;-->
<!--              <div class="card mb-4">-->
<!--                  {% if p.head_image %} &lt;!&ndash; 그림이 있을 경우 &ndash;&gt;-->
<!--                  <img class="card-img-top" src="{{ p.head_image.url }}" alt="Card image cap">  &lt;!&ndash; 이미지 경로 지정 &ndash;&gt;-->
<!--                  {% else %}    &lt;!&ndash; 그림이 없을 경우 &ndash;&gt;-->
<!--                  <img class="card-img-top" src="https://picsum.photos/750/300/?random" alt="Card image cap">   &lt;!&ndash; 픽섬에서 해당 사이즈에 맞는 랜덤 사진 불러옴 &ndash;&gt;-->
<!--                  {% endif %}-->
<!--                  <div class="card-body">-->
<!--                      <h2 class="card-title">{{ p.title }}</h2>-->
<!--                      &lt;!&ndash;                  <p class="card-text">{{ p.content }}</p>&ndash;&gt;-->
<!--                      <p class="card-text">{{ p.content | truncatewords:50 }}</p>     &lt;!&ndash; 트런케이트! 긴 글에 적용 &ndash;&gt;-->
<!--                      <a href="#" class="btn btn-primary">Read More &rarr;</a>-->
<!--                  </div>-->
<!--                  <div class="card-footer text-muted">-->
<!--                      Posted on {{ p.created }} by {{ p.author }}-->
<!--                      <a href="#">Start Bootstrap</a>-->
<!--                  </div>-->
<!--              </div>-->
<!--              {% endfor %}-->
<!--          {% else %}-->
<!--            <h3>아직 게시물이 없습니다.</h3>-->
<!--          {% endif %}-->


        <!-- Pagination -->
<!--        <ul class="pagination justify-content-center mb-4">-->
<!--          <li class="page-item">-->
<!--            <a class="page-link" href="#">&larr; Older</a>-->
<!--          </li>-->
<!--          <li class="page-item disabled">-->
<!--            <a class="page-link" href="#">Newer &rarr;</a>-->
<!--          </li>-->
<!--        </ul>-->

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4" id="side-div">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
<!--                검색 기능 위해 id를 심어주고, onclick 이벤트를 발생시킴!! -> 밑의 스크립트 태그에서 함수 구현해 놓았음-->

              <input type="text" id = 'search-input' onkeyup="wait_for_enterkey()" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button" onclick="search_post();">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4" id = 'category-card'>
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  {% for category in category_list %}
                  <li>
                      <a href="{{ category.get_absolute_url }}">{{ category.name }} ({{ category.post_set.count }})</a>
                  </li>
                  {% endfor %}
                  <li>
                      <a href="/blog/category/_none/">미분류 ({{ posts_without_category }})</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

<!--        &lt;!&ndash; Side Widget &ndash;&gt;-->
<!--        <div class="card my-4">-->
<!--          <h5 class="card-header">Side Widget</h5>-->
<!--          <div class="card-body">-->
<!--            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!-->
<!--          </div>-->
<!--        </div>-->

      </div>

    </div>
    <!-- /.row -->
</div>
<script>
    function search_post(){
        var search_value = document.getElementById('search-input').value;
        location.href = "/blog/search/" + search_value + "/";
    }
    function wait_for_enterkey(){
        if (window.event.keyCode == 13){
            search_post();
        }
    }

</script>

<script src="{% static 'blog/_assets/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/popper.min.js' %}"></script>
<script src="{% static 'blog/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/custom.js' %}"></script>

</body>
</html>